@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Your palette – use with bg-background, text-foreground, text-muted */
  --color-background: #161616;
  --color-foreground: #ededed;
  --color-muted: #a0a0a0;
}

:root {
  --background: #161616;
  --foreground: #ededed;
  --muted: #a0a0a0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


header {
  margin-bottom: 1rem;
}

h2 {
  margin: 0rem;
}

h3 {
  margin-bottom: 0.25rem;
}

h4 {
  margin-bottom: 0.125rem;
}

pre.shiki {
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin: 0;
  border: 1px solid rgb(37, 36, 36);

}

pre.shiki code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 0.9rem;
}